.programs{
//background-color: $color-black;

width: 100%;
margin-top: -5vh;
margin-left: 8rem;

height: 50rem;
  &__card{

color: white;

//transition-duration: all 8s;

    &--1{
      background-color: #ef4b4b;//#dd3333 ; //
//background-image: linear-gradient(to right bottom, rgba($color-white, 0.5), rgba($color-black, -0.5));
height: 10rem;
padding: 3rem 3.2rem;
transition: all .3s;
position: relative;

&:hover
{
  transform: translateY(-3rem);
}
}

&--content{
  position: absolute;
  top: 1rem;
}



    &--2{
background-color: $color-tertiary-light;
background-image: linear-gradient( rgba($color-white, 0.5), rgba($color-black, -0.5));
height: 10rem;
padding: 3rem 3.2rem;
position: relative;
transition: all .3s;

&:hover
{
  transform: translateY(-3rem);
}
    }

    &--3{
background-image: linear-gradient(to right, $color-grey-dark, grey);
height: 10rem;
padding: 3rem 3.2rem;
position: relative;
transition: all .3s;

&:hover
{
  transform: translateY(-3rem);
}
}

&--4{
//background-image: linear-gradient(to right, #f6f078, #ffe7ad); //#f6f078; //#ffe7ad
background-color: #ffe7ad;
//background-image: linear-gradient(to right, rgba($color-white, 0.1), rgba($color-black, -0.5));
height: 10rem;
padding: 3rem 3.2rem;
position: relative;
transition: all .3s;

&:hover
{
  transform: translateY(-3rem);
}

}

&--5{
background-image: linear-gradient(to right, $color-green, $color-green-light);
height: 10rem;
padding: 3rem 3.2rem;
position: relative;
transition: all .3s;

&:hover
{
  transform: translateY(-3rem);
}
}

&--6{
background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
height: 10rem;
padding: 3rem 3.2rem;
position: relative;
transition: all .3s;

&:hover
{
  transform: translateY(-3rem);
}
}
  }

}

.container{
  margin: -80rem 0 0 38.2rem;
}
